/************* МЕНЮ *************/
#menu {
	position: fixed;
	right: -300px;
	height: 100%;
	width: 300px;
	top: 0;
	color: #fff;
	background: var(--main-color);
	padding: 20px;
	z-index: 10;
	transition: right .5s;
}

#menu a {
	font-size: 25px;
	display: block;
}

#menu a:hover {
	color: #FFEEE4;
}

.close__menu {
	float: right;
	height: 40px;
	width: 33px;
	position: relative;
	cursor: pointer;
	opacity: .6;
	transition: opacity .4s;
	right: 0;
}

.close__menu:hover {
	opacity: 1;
}

.close__menu:before, .close__menu:after {
	content: '';
	display: block;
	position: absolute;
	width: 40px;
	height: 2px;
	background: #fff;
	top: 0;
}

.close__menu:before {
	transform: rotate(45deg) translate(15px, 20px);
}

.close__menu:after {
	transform: rotate(-45deg) translate(-20px, 15px);
}

/************* АНИМАЦИЯ ОТКРЫТИЯ МЕНЮ *************/
#menu__checkbox:checked ~ #menu {
	right: 0;
}

#menu__checkbox:not(:checked) ~ #menu {
	right: -300px;
}
/************* /АНИМАЦИЯ ОТКРЫТИЯ МЕНЮ ************/